{{#if showToggleButton}}
  <button {{action "toggleSlideOut"}}>toggle slide out aus dem component</button>
{{/if}}
  <button {{action "test"}}>add plan</button>

{{#if hasBlock}}
  sososo.....
{{/if}}

{{yield panel plans}}